@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  src: url('./fonts/PlusJakartaSans-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  src: url('./fonts/PlusJakartaSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  src: url('./fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  src: url('./fonts/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
}


@font-face {
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  src: url('./fonts/PlusJakartaSans-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  src: url('./fonts/PlusJakartaSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  src: url('./fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  src: url('./fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

